<div class="mui-container-fluid">
  <div class="mui-row">
   <div class="mui-col-md-4 mui-col-md-offset-4">
<br>

<h2>New User</h2>

<hr>

<br>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>



</div>
</div>
</div>