<div class="mui-container-fluid">
  <div class="mui-row">
   <div class="mui-col-md-4 mui-col-md-offset-1">
<br>

<h2>Show User</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>


</ul>



</div>
</div>
</div>