<div class="mui--appbar-height"></div>

<div class="mui-container-fluid mui--text-center">
  <div class="mui-row">
<div class="mui-col-md-8 mui-col-md-offset-2">

<div class="mui--text-display3 row wow zoomInDown">Welcome to High Society</div>
<br>
<button class="mui-btn mui-btn--raised">Get started</button>
<br>
<br>
<i class="fa fa-comments fa-5x mui--text-display3 mui--color-pink-A100 row wow zoomIn" aria-hidden="true"></i>
</div>
</div>
</div>
